---
layout: page
---

  <head>
    {%- include head.html -%}

    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        background-image: url("{{ site.baseurl }}/assets/img/IMG_8825.jpg");
        }

        main {
          flex: 1 0 auto;
        }
    </style>
  </head>

  {{ content }}
<body>
  <main>
    <div class="columns">
      <ul>
        <li>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/6huAgRchZD7BFTIpSPdeJd?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </li>
        <li>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/3OtnSXeOWGHWnDi7eyLVid?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </li>
        <li>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0DIHOQ5kRsP8JVbgwa8Lp7?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </li>
        <li>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0SZzykZkRiSzLqDnikpo6e?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </li>
        <li>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/2GvqP2nJgOoXBaLTX5UZzX?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </li>
        <li>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/4Ha8AQoC9YMMzQH9fNAAWu?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </li>
        <li>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/0TN2zUWYwWA5veeEm4IEWb?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </li>
        <li>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/6b1K1MjGNQ6zrbZ2nqhjAd?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </li>
        <li>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/6i1QFF9dJYO9LknEo8w9G0?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </li>
        <li>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/1LTPVJNa7jhfxWPOF8rZg7?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </li>
        <li>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/5aB2ZqlNdlSCcoIuH5dNm3?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </li>
        <li>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/5CNr48UIn2BcPSrsrAkpj2?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </li>
      </ul>
    </div>
  </main>
</body>
