---
layout: page
---

  <head>
    {%- include head.html -%}

    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        background-image: url("{{ site.baseurl }}/assets/img/IMG_8825.jpg");
        }

        main {
          flex: 1 0 auto;
        }
    </style>
  </head>

  {{ content }}
<body>
  <main>
    <div class="columns">
      <dl>
        <dt>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3wUk8GGFCSwdjf8LAR8HZA?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </dt>
        <dd>
          Recorded drum set and auxilary percussion.
        </dd>
        <dt>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/3OtnSXeOWGHWnDi7eyLVid?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </dt>
        <dd>
          Tracked drum set on "Turn Me Away", "Getting Caught in Snow", "Overconfidence", "The Chickens", and "Play Along".
        </dd>
        <dt>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0DIHOQ5kRsP8JVbgwa8Lp7?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </dt>
        <dd>
          Tracked drum set and background vocals.
        </dd>
        <dt>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0SZzykZkRiSzLqDnikpo6e?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </dt>
        <dd>  
          Recorded pitched and un-pitched percussion.
        </dd>
        <dt>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/12S840HaZrrrd4vZmDxNsp?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </dt>
        <dd>
          Tracked drum set.
        </dd>
        <dt>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1eozTf1sZ2QWEh1GZfMSwG?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </dt>
        <dd>
          Tracked drum set, un-pitched percussion, and background vocals.
        </dd>
        <dt>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/06BMOpy4hPcxLirlZ20EdF?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </dt>
        <dd>
          Tracked drum set and glockenspiel.
        </dd>
        <dt>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0jbIejRjixS9jqFXrl6Geg?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </dt>
        <dd>
          Tracked drum set and background vocals.
        </dd>
        <dt>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0m6u98B0mhhXTF6bqAiiso?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </dt>
        <dd>
          Recorded drum set.
        </dd>
        <dt>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/1LTPVJNa7jhfxWPOF8rZg7?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </dt>
        <dd>
          Recorded drum set, pitched and un-pitched percussion, piano/keyboard, lead vocal and background vocal tracks on this album of my own original music.
        </dd>
        <dt>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/5aB2ZqlNdlSCcoIuH5dNm3?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </dt>
        <dd>
          Tracked various pitched and un-pitched concert percussion instruments as a section player.
        </dd>
        <dt>
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/5CNr48UIn2BcPSrsrAkpj2?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </dt>
        <dd>
          Tracked various pitched and un-pitched concert percussion instruments as a section player.
        </dd>
      </dl>
    </div>
  </main>
</body>
