---
layout: page
---

  <head>
    {%- include head.html -%}

    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        background-image: url("{{ site.baseurl }}/assets/img/IMG_8825.jpg");
        }

        main {
          flex: 1 0 auto;
        }
    </style>
  </head>

  {{ content }}

_layouts/percussionist.html

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/6huAgRchZD7BFTIpSPdeJd?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>