---
layout: page
---

  <head>
    {%- include head.html -%}

    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        background-image: url("{{ site.baseurl }}/assets/img/IMG_9243.jpg");
        }

        main {
          flex: 1 0 auto;
        }
    </style>
  </head>

  {{ content }}
  <body>
    <main>
      <div class="column">
        <dl class="youtube">
          <dt>
              Recorda Me Excerpt
          </dt>
          <dd>
              <iframe src="https://www.youtube.com/embed/AzHpha_al9w?si=Ip31joNgA0-pC67V" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </dd>
          <dt>
              Blue Monk Excerpt
          </dt>
          <dd>
              <iframe src="https://www.youtube.com/embed/RSEcoB18JOg?si=1yvdMJdpXWdGK8xS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </dd>
          <dt>
              On the Sunny Side of the Street
          </dt>
          <dd>
              <iframe src="https://www.youtube.com/embed/H_J1awm8loQ?si=174HcG8dbF7VsIIB" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </dd>
        </dl>
      </div>
    </main>
  </body>