---
layout: page
---

  <head>
    {%- include head.html -%}

    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        background-image: url("{{ site.baseurl }}/assets/img/IMG_9243.jpg");
        }

        main {
          flex: 1 0 auto;
        }
    </style>
  </head>

  {{ content }}
  <body>
    <main>
      <div class="columns">
        <dl>
          <dt>
              Recorda Me Excerpt
          </dt>
          <dd>
            <iframe src="https://www.youtube.com/embed/AzHpha_al9w?si=oBsSuV2DEknoTlL_" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </dd>
          <dt>
              Blue Monk Excerpt
          </dt>
          <dd>
            <iframe src="https://www.youtube.com/embed/RSEcoB18JOg?si=--c4JvygoAgdG7G_" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </dd>
          <dt>
              On the Sunny Side of the Street
          </dt>
          <dd>
            <iframe src="https://www.youtube.com/embed/H_J1awm8loQ?si=TiQP-4IMsLyR5mSP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </dd>
          <dt>
            Mercy Mercy Mercy
          </dt>
          <dd>
            <iframe src="https://www.youtube.com/embed/4UE8Wm2bBws?si=augS12yG0geBySad" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </dd>
          <dt>
            Summertime
          </dt>
          <dd>
            <iframe src="https://www.youtube.com/embed/1YP2-ZDO8is?si=JJWyzJowom6eylNf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </dd>
          <dt>
            Drum Set Performance Reel
          </dt>
          <dd>
            <iframe src="https://www.youtube.com/embed/WnQpnYoB1SY?si=g3EhhxcAGmsmBZIs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </dd>
          <dt>
            Softly as In a Morning Sunrise
          </dt>
          <dd>
            <iframe src="https://www.youtube.com/embed/EgQ9EvcXpck?si=7s_PI7MpbsHtvR6J" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </dd>
          <dt>
            A Minor Matter
          </dt>
          <dd>
            <iframe src="https://www.youtube.com/embed/CKNkqdmnRxM?si=n2GGPAOC4ezt-OYQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </dd>
          <dt>
            Compared to What
          </dt>
          <dd>
            <iframe src="https://www.youtube.com/embed/uKke2ZvKMIM?si=WhM502N4SCiJdy6b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </dd>
          <dt>
            Little Drummer Boy
          </dt>
          <dd>
            <iframe src="https://www.youtube.com/embed/n6sLgjWSHes?si=pYft8GFYrSI3lO3d" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </dd>
          <dt>
            You're a Mean One, Mr. Grinch Excerpt
          </dt>
          <dd>
            <iframe src="https://www.youtube.com/embed/quJb1ldiJj8?si=5xww3mm2C1-8mBrx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </dd>
          <dt>
            Have Yourself a Merry Little Christmas
          </dt>
          <dd>
            <iframe src="https://www.youtube.com/embed/MNMEK3jDgoc?si=4Zw7vCaehNUzfOg2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </dd>
          <dt>
            The Ultimate - Drum Solo
          </dt>
          <dd>
            <iframe src="https://www.youtube.com/embed/kAzLGrNxFGs?si=VAAxuICNSaMXlSV_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </dd>
          <dt>
            Hey Melanie - Drum Solo
          </dt>
          <dd>
            <iframe src="https://www.youtube.com/embed/Kv1yiw7Nqt0?si=AIN1zhsVIAcMEMv7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </dd>
        </dl>
      </div>
    </main>
  </body>