<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
  <head>
    {%- include head.html -%}

    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        background-image: url("{{ site.baseurl }}/assets/img/IMG_8987.jpg");
        }

        main {
          flex: 1 0 auto;
        }
    </style>
  </head>

  <body a="{{ site.theme_config.appearance | default: "auto" }}">
  {%- include header.html -%}

  <main class="tallbox center-align">
    {{ content }}
  </main>

  {%- include footer.html -%}
  </body>
</html>