---
layout: page
---

  <head>
    {%- include head.html -%}

    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        background-image: url("{{ site.baseurl }}/assets/img/IMG_8825.jpg");
        }

        main {
          flex: 1 0 auto;
        }
    </style>
  </head>

  {{ content }}
<body>
  <main>
    <div class="columns">
      <dl>
        <dt>
          This Mystery - Excerpt
        </dt>
        <dd>
          <iframe src="https://www.youtube.com/embed/w2_ONFyijRQ?si=Ojd3sHa_NbGB2K7n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </dd>
        <dt>
          Blackbird - Excerpt
        </dt>
        <dd>
          <iframe src="https://www.youtube.com/embed/vSqgwX0-ba4?si=Kscdd9_h4btZV9-n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </dd>
        <dt>
          Goldenberg Etude VII
        </dt>
        <dd>
          <iframe src="https://www.youtube.com/embed/3eHBvebVocM?si=BDHnlAcVvomPQDYc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </dd>
        <dt>
          Azuquita Pal Café
        </dt>
        <dd>
          <iframe src="https://www.youtube.com/embed/c8TUoRgGNos?si=nUMQfQfhfyLwiTKT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </dd>
        <dt>
          Can't Stop Christmas - Excerpt
        </dt>
        <dd>
          <iframe src="https://www.youtube.com/embed/nva3wWWk0UA?si=Yico1PAGMhmyXYl-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </dd>
        <dt>
          December 26 - Excerpt
        </dt>
        <dd>
          <iframe src="https://www.youtube.com/embed/UdCA8N9iDQA?si=QVI9KXukh1vr_ldQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </dd>
      </dl>
    </div>
  </main>
</body>